<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Express 4</title>
</head>
<body>
    
    <nav class="navbar navbar-light bg-light">
        <a href="/" class="navbar-brand text-monospace text-success">Express-node app 💻</a>
        <a class="btn btn-outline-success my-2 my-sm-0" href="/new-entry">Enter a new Book 📖</a>
    </nav>


</body>
</html>